NTU-KNE-DEV/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NTU-KNE-DEV"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_STG_PLACEMENTS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_STAGING_PLACEMENTS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table KNE_STG.Placements",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Project Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Project_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Business Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Business_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "No. of Placements",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "No_of_Placements",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 6
										}
									},
									{
										"source": {
											"name": "Grant",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Grant",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Intervention",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Intervention",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Job Title",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Role",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Salary",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Salary",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Match",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Match",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Degree",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Degree",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "University",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "University",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Year Graduated",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year_Graduated",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Knowledge_Exchange",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "all_Placements.txt"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "Placements",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "SC_LPAD_BUSINESS_NUMBER",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "CD_STAGING_PLACEMENTS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Azure_Destination",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "UPDATE  KNE_STG.Placements\nSET  Business_Number= RIGHT(REPLICATE('0', 8) + Business_Number, 8)  \nWHERE  len(Business_Number) < 8"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "1_0_STAGING"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_STG_POSTCODES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_STG_POSTCODES",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "NSPL21_MAY_2024_UK.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "Postcodes",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "CD_STG_PlaceNames",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "PlaceNames.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "PlaceNames",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "CD_STG_Local_Authority",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "Local_Authority_Districts.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "Local_Authrotiy_Districts",
									"SchemaName": "KNE_STG"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "1_0_STAGING"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_STG_POSTCODE_DETAILS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PostCodeDistricts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "Local_Authority_Districts.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_STG.POSTCODE_LOCAL_AUTHORITY",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_LOCAL_AUTHORITY",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCodeWards",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "POSTCODEWARD.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_STG.POSTCODE_WARDS",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_WARDS",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCodeRegions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "POSTCODEREGIONS.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_STG.POSTCODE_REGIONS",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_REGIONS",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCodeCounties",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "PostCodeCounties.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_STG.POSTCODE_COUNTIES",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_COUNTIES",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCodeConstituencies",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "PostCodeConstituencies.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE\nKNE_STG.POSTCODE_CONSTITUENCIES",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_CONSTITUENCIES",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCodeNationalPark",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "PostCodeNationalPark.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE\nKNE_STG.POSTCODE_NATIONAL_PARK",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_NATIONAL_PARK",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCodePolice",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "PostCodePolice.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_STG.POSTCODE_POLICE",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_POLICE",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCodeTraveltoWork",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "PostCodeTraveltoWork.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_STG.POSTCODE_TRAVEL_TO_WORK",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_TRAVEL_TO_WORK",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCodeIntegratedHealthBoard",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "PostcodesIntgratedHealthBoard.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_STG.POSTCODE_INTEGRATED_HEALTH_BOARD",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_INTEGRATED_HEALTH_BOARD",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCodeNHSCCG",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "PostCodeNHS_CCG.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_STG.POSTCODE_NHS_CCG",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_NHS_CCG",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "CD_STG_POSTCODE_DETAILS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PostCodeTraveltoWork",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PostCodeIntegratedHealthBoard",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PostCodeNHSCCG",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PostCodePolice",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PostCodeNationalPark",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PostCode",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PostCodeCountry",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PostCodeConstituencies",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PostCodeRegions",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PostCodeDistricts",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PostCodeParlConstiUpdate2024",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PostCodeWardsLondon",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PostCodeMetroCounties",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "\n\n WITH\nQ_INT_HEALTH_BOARD\nAS\n( Select DISTINCT SICBL23CD,ICB23NM NHS_INTEGRATED_CARE_BOARD,NHSER23NM NHS_REGION\n from KNE_STG.POSTCODE_INTEGRATED_HEALTH_BOARD),\n\n\nQ_PARL_CONT\nAS\n(  SELECT DISTINCT PC.PCD POSTCODE,\n COALESCE(CONDESC24.PCON24NM,CONDESC.PCON10NM) ACTIVE_CONSTITUENCY\n FROM KNE_STG.POSTCODES PC\n LEFT OUTER JOIN KNE_STG.POSTCODE_CONSTITUENCIES CONDESC\n ON PC.PCON=CONDESC.PCON10CD\n LEFT OUTER JOIN KNE_STG.POSTCODE_PARL_CONSTIT_2024 CON24\n ON REPLACE(PC.pcd,' ','')=REPLACE(CON24.POSTCODE,' ','')\n LEFT OUTER JOIN KNE_STG.POSTCODE_CONSTITUENCIES CONDESC24\n ON CON24.PCON24=CONDESC24.PCON24CD\n AND PC.PCON=CONDESC24.PCON10CD\n )\n\n\n\n\n\nSELECT  DISTINCT \nPC.PCD AS POSTCODE,\nWD.WD21NM AS WARDNAME,\nLA.LAD22NM AS LOCAL_AUTHORITY,\nCS.ACTIVE_CONSTITUENCY AS PARL_CONSTIT,\nCTY.CTY15NM AS COUNTY,\nRG.RGN14NM AS REGION,\nCOUNTRY.CTRY15NM COUNTRY,\nHB.NHS_INTEGRATED_CARE_BOARD,\nHB.NHS_REGION,\nCCG.CCG18NM NHS_CLINICAL_COMM_GROUP,\nCOALESCE(NP.NPARK16NM, 'Not a National Park') AS NATIONAL_PARK,\nPO.PFA15NM POLICE_AUTHORITY,\nTTW.\"Employment rate\" AS EMPLOYMENT_RATE,\nTTW.\"Male Employment Rate\" AS MALE_EMPLOYMENT_RATE,\nTTW.\"Female Employment Rate\" AS FEMALE_EMPLOYMENT_RATE,\nTTW.\"Self Employment Rate\" AS SELF_EMPLOYMENT_RATE,\nTTW.\"Economically inactive\" AS ECON_INACTIVE_RATE,\nTTW.\"Economically inactive males\" AS MALE_ECON_INACTIVE_RATE,\nTTW.\"Economically inactive females\" AS FEMALE_ECON_INACTIVE_RATE,\nTTW.\"NVQ Level 4 qualifications\" AS NVQ_LVL4_QUALS,\nTTW.\"NVQ no qualifications\" AS NVQ_NO_QUALS,\nPC.LAT   AS LATITUDE,\nPC.LONG AS LONGDITUDE\n\n \n FROM KNE_STG.Postcodes PC\n LEFT OUTER JOIN KNE_STG.POSTCODE_COUNTRY COUNTRY\n ON PC.CTRY=COUNTRY.CTRY15CD\nLEFT OUTER JOIN KNE_STG.POSTCODE_LOCAL_AUTHORITY LA\n ON PC.LAUA=LA.LAD22CD\n LEFT OUTER JOIN KNE_STG.POSTCODE_WARDS WD\n ON PC.WARD=WD.WD21CD\n LEFT OUTER JOIN KNE_STG.POSTCODE_REGIONS RG\n  ON PC.RGN=RG.RGN14CD \n LEFT OUTER JOIN KNE_STG.POSTCODE_COUNTIES CTY\n ON PC.CTY=CTY.CTY15CD\n LEFT OUTER JOIN Q_PARL_CONT CS\n ON PC.PCD=CS.POSTCODE\n LEFT OUTER JOIN KNE_STG.POSTCODE_NATIONAL_PARK NP\n ON PC.NPARK=NP.NPARK16CD\n LEFT OUTER JOIN KNE_STG.POSTCODE_POLICE PO\n ON PC.PFA=PO.PFA15CD\n LEFT OUTER JOIN KNE_STG.POSTCODE_TRAVEL_TO_WORK TTW\n ON PC.TTWA=TTW.TTWA11CDN\n LEFT OUTER JOIN Q_INT_HEALTH_BOARD HB\n ON PC.SICBL=HB.SICBL23CD\n LEFT OUTER JOIN KNE_STG.POSTCODE_NHS_CCG CCG\n ON PC.LSOA21=CCG.LSOA11CD",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_STG.POSTCODE_DETAILS",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "POSTCODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "POSTCODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WARDNAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "WARDNAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOCAL_AUTHORITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LOCAL_AUTHORITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PARL_CONSTIT",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PARL_CONSTIT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COUNTY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "REGION",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "REGION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NHS_INTEGRATED_CARE_BOARD",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NHS_INTEGRATED_CARE_BOARD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NHS_REGION",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NHS_REGION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NHS_CLINICAL_COMM_GROUP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NHS_CLINICAL_COMM_GROUP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NATIONAL_PARK",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NATIONAL_PARK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "POLICE_AUTHORITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "POLICE_AUTHORITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EMPLOYMENT_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EMPLOYMENT_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MALE_EMPLOYMENT_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MALE_EMPLOYMENT_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FEMALE_EMPLOYMENT_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FEMALE_EMPLOYMENT_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SELF_EMPLOYMENT_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SELF_EMPLOYMENT_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ECON_INACTIVE_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ECON_INACTIVE_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MALE_ECON_INACTIVE_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MALE_ECON_INACTIVE_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FEMALE_ECON_INACTIVE_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FEMALE_ECON_INACTIVE_RATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NVQ_LVL4_QUALS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NVQ_LVL4_QUALS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NVQ_NO_QUALS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NVQ_NO_QUALS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LATITUDE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LATITUDE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LONGDITUDE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LONGDITUDE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AzureDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_DETAILS",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCode",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "NSPL21_MAY_2024_UK.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_STG.POSTCODES",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODES",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCodeCountry",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "PostCodeCountry.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_STG.POSTCODE_COUNTRY",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_COUNTRY",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "CD_PRS_POSTCODE_DETAILS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CD_STG_POSTCODE_DETAILS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_PRS.POSTCODE_DETAILS",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "POSTCODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "POSTCODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WARDNAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WARDNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LOCAL_AUTHORITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LOCAL_AUTHORITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PARL_CONSTIT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PARL_CONSTIT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COUNTY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COUNTY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "REGION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "REGION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NHS_INTEGRATED_CARE_BOARD",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NHS_INTEGRATED_CARE_BOARD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NHS_REGION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NHS_REGION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NHS_CLINICAL_COMM_GROUP",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NHS_CLINICAL_COMM_GROUP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NATIONAL_PARK",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NATIONAL_PARK",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "POLICE_AUTHORITY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "POLICE_AUTHORITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EMPLOYMENT_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										},
										"sink": {
											"name": "EMPLOYMENT_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										}
									},
									{
										"source": {
											"name": "MALE_EMPLOYMENT_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										},
										"sink": {
											"name": "MALE_EMPLOYMENT_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										}
									},
									{
										"source": {
											"name": "FEMALE_EMPLOYMENT_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										},
										"sink": {
											"name": "FEMALE_EMPLOYMENT_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										}
									},
									{
										"source": {
											"name": "SELF_EMPLOYMENT_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										},
										"sink": {
											"name": "SELF_EMPLOYMENT_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										}
									},
									{
										"source": {
											"name": "ECON_INACTIVE_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										},
										"sink": {
											"name": "ECON_INACTIVE_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										}
									},
									{
										"source": {
											"name": "MALE_ECON_INACTIVE_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										},
										"sink": {
											"name": "MALE_ECON_INACTIVE_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										}
									},
									{
										"source": {
											"name": "FEMALE_ECON_INACTIVE_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										},
										"sink": {
											"name": "FEMALE_ECON_INACTIVE_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										}
									},
									{
										"source": {
											"name": "NVQ_LVL4_QUALS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										},
										"sink": {
											"name": "NVQ_LVL4_QUALS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										}
									},
									{
										"source": {
											"name": "NVQ_NO_QUALS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										},
										"sink": {
											"name": "NVQ_NO_QUALS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										}
									},
									{
										"source": {
											"name": "LATITUDE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 9
										},
										"sink": {
											"name": "LATITUDE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 9
										}
									},
									{
										"source": {
											"name": "LONGDITUDE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 9
										},
										"sink": {
											"name": "LONGDITUDE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 9
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_DETAILS",
									"SchemaName": "KNE_STG"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_DETAILS",
									"SchemaName": "KNE_PRS"
								}
							}
						]
					},
					{
						"name": "PostCodeParlConstiUpdate2024",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "PostCodeParliamentaryConstituencies2024.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE KNE_STG.POSTCODE_PARL_CONSTIT_2024",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "POSTCODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "POSTCODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PCON24",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PCON24",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_PARL_CONSTIT_2024",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCodeMetroCounties",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PostCodeCounties",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "PostCodeMetropolitanCounties.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MCTY21CD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CTY15CD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MCTY21NM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CTY15NM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_COUNTIES",
									"SchemaName": "KNE_STG"
								}
							}
						]
					},
					{
						"name": "PostCodeWardsLondon",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PostCodeWards",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"fileFilter": "PostCodeWardsLondon.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GEOGCD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WD21CD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GEOGNM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WD21NM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_KNE_POSTCODES",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "POSTCODE_WARDS",
									"SchemaName": "KNE_STG"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "POSTCODES"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_STG_STATE_AID')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_STG_STATE_AID",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [KNE_STG].[State_Aid]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Project Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Project_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Partner",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Partner",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Business Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Business_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Business Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Business_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Aid_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State Aid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State_Aid",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Knowledge_Exchange",
								"type": "DatasetReference",
								"parameters": {
									"FileName": "All_State_aid.txt"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "State_Aid",
									"SchemaName": "KNE_STG"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "1_0_STAGING"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JS_COMPANY_HOUSE_DATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_GET_COMPHOUSE_ADDS_AND_DELS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_GET_COMPHOUSE_ADDS_AND_DELS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_COMPANY_HOUSE_ADDITIONS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_GET_COMPHOUSE_ADDS_AND_DELS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_COMPANY_HOUSE_ADDITIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_COMPANY_HOUSE_DELETIONS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_GET_COMPHOUSE_ADDS_AND_DELS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_COMPANY_HOUSE_DELETIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SC_SET_DELETIONS_INACTIVE",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "PL_STG_COMPANY_HOUSE_DELETIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Azure_Destination",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "UPDATE CHD_INT.DIM_COMPANY_HOUSE\nSET COMPANY_HOUSE_ACT_IND='D',\nCOMPANY_HOUSE_END_DATE=GETDATE()\nWHERE COMPANY_HOUSE_BK\nIN\n(SELECT COMPANY_NUMBER\nFROM CHD_STG.COMPANY_HOUSE_DELETIONS)"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "PL_INT_COMPANY_HOUSE_ADDITIONS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_STG_COMPANY_HOUSE_ADDITIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INT_COMPANY_HOUSE_ADDITIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_ADD_ADDITIONS_TO_DIM_COMPANY_HOUSE",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_INT_COMPANY_HOUSE_ADDITIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "  Select \nCOMPANY_NUMBER COMPANY_HOUSE_BK,\nCOMPANY_NAME   ,\nADDRESS_LINE_1,\nADDRESS_LINE_2,\nCOUNTRY,\nTOWN,\nPOSTCODE,\nSICCODE_SIC_TEXT_1,\nSICCODE_SIC_TEXT_2,\nSICCODE_SIC_TEXT_3,\nSICCODE_SIC_TEXT_4,\nACCOUNTS_REFDAY,\nACCOUNTS_REFMONTH,\nACCOUNTS_NEXTDUEDATE,\nACCOUNTS_OVERDUE,\n  CONVERT (BIGINT, HASHBYTES('SHA1', CONCAT(COMPANY_NUMBER,COMPANY_NAME,ADDRESS_LINE_1,ADDRESS_LINE_2,COUNTRY,TOWN,POSTCODE,SICCODE_SIC_TEXT_1,SICCODE_SIC_TEXT_2,\n                                            SICCODE_SIC_TEXT_3,SICCODE_SIC_TEXT_4,ACCOUNTS_REFDAY,ACCOUNTS_REFMONTH,ACCOUNTS_NEXTDUEDATE,ACCOUNTS_OVERDUE))) AS HashId,\nGETDATE() COMPANY_HOUSE_START_DATE,\n'Y' COMPANY_HOUSE_ACTIVE_IND\nfrom KNE_INT.COMPANY_HOUSE_ADDITIONS\nWHERE COMPANY_NUMBER\nNOT IN\n(SELECT \nCOMPANY_HOUSE_BK\nFROM KNE_INT.DIM_COMPANY_HOUSE)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "COMPANY_HOUSE_BK",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Company_House_BK",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Company_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS_LINE_1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address_Line_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS_LINE_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address_Line_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TOWN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Town",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "POSTCODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Postcode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNTS_REFDAY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Account_Refday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNTS_REFMONTH",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Account_Refmonth",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNTS_NEXTDUEDATE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Accounts_NextDueDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "SICCODE_SIC_TEXT_1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SICCode_SicText_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SICCODE_SIC_TEXT_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SICCode_SicText_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SICCODE_SIC_TEXT_3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SICCode_SicText_3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SICCODE_SIC_TEXT_4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SICCode_SicText_4",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_HOUSE_START_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Company_House_Start_Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "COMPANY_HOUSE_ACTIVE_IND",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Company_House_Act_Ind",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "HashId",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "HashID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "COMPANY_HOUSE_ADDITIONS",
									"SchemaName": "KNE_INT"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DIM_COMPANY_HOUSE",
									"SchemaName": "KNE_INT"
								}
							}
						]
					},
					{
						"name": "PL_PRS_DIM_COMPANY_HOUSE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CD_ADD_ADDITIONS_TO_DIM_COMPANY_HOUSE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PRS_DIM_COMPANY_HOUSE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "4_0_JOB_STREAMS"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JS_INTEGRATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_PRS_DIM_COMPANY",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INT_DIM_COMPANY",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_INT_DIM_REPORTING_DATES",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INT_DIM_REPORTING_DATES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_INT_DIM_REPORTING_STRUCUTRE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INT_DIM_REPORTING_STRUCUTRE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_INT_FACT_PLACEMENTS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_INT_DIM_REPORTING_DATES",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PL_PRS_DIM_COMPANY",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PL_INT_DIM_REPORTING_STRUCUTRE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INT_FACT_PLACEMENTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_INT_FACT_INTERVENTIONS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_INT_FACT_PLACEMENTS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INT_FACT_INTERVENTIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "4_0_JOB_STREAMS"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JS_PRESENTATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_PRS_DIM_COMPANY",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PRS_DIM_COMPANY",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_PRS_DIM_REPORTING_STRUCTURE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PRS_DIM_REPORTING_STRUCTURE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_PRS_DIM_REPORTING_DATES",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PRS_DIM_REPORTING_DATES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_PRS_FACT_PLACEMENTS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PRS_FACT_PLACEMENTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_PRS_FACT_INTERVENTIONS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PRS_FACT_INTERVENTIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "4_0_JOB_STREAMS"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JS_STAGING')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_STG_BUSINESS_OUTPUTS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_BUSINESS_OUTPUTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_BUSINESS_DATA_CARBON",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_BUSINESS_DATA_CARBON",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_INTERVENTIONS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_INTERVENTIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_PLACEMENTS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_PLACEMENTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_INTERVENTIONS_FACT",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_INTERVENTIONS_FACT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_BUSINESS_DATA_GENERAL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_BUSINESS_DATA_GENERAL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_STATE_AID",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_STATE_AID",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_OTHER_GRANTS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_OTHER_GRANTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "4_0_JOB_STREAMS"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_STG_PLACEMENTS')]",
				"[concat(variables('factoryId'), '/pipelines/PL_STG_STATE_AID')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JS_FULL_BUILD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "JS_STAGING",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "JS_STAGING",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "JS_INTEGRATION",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "JS_STAGING",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "JS_INTEGRATION",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "JS_PRESENTATION",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "JS_INTEGRATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "JS_PRESENTATION",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "4_0_JOB_STREAMS"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/JS_STAGING')]",
				"[concat(variables('factoryId'), '/pipelines/JS_INTEGRATION')]",
				"[concat(variables('factoryId'), '/pipelines/JS_PRESENTATION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TR_COMPANY_HOUSE_DATA_DAILY_UPDATE')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "JS_COMPANY_HOUSE_DATA",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2024-10-09T10:26:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								20
							],
							"hours": [
								9
							],
							"weekDays": [
								"Monday",
								"Tuesday",
								"Wednesday",
								"Thursday",
								"Friday",
								"Saturday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/JS_COMPANY_HOUSE_DATA')]"
			]
		}
	]
}