NTU-KNE-DEV/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "NTU-KNE-DEV"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/JS_COMPANY_HOUSE_DATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_GET_COMPHOUSE_ADDS_AND_DELS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_GET_COMPHOUSE_ADDS_AND_DELS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_COMPANY_HOUSE_ADDITIONS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_GET_COMPHOUSE_ADDS_AND_DELS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_COMPANY_HOUSE_ADDITIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_COMPANY_HOUSE_DELETIONS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_GET_COMPHOUSE_ADDS_AND_DELS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_COMPANY_HOUSE_DELETIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SC_SET_DELETIONS_INACTIVE",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "PL_STG_COMPANY_HOUSE_DELETIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_Azure_Destination",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "UPDATE KNE_INT.DIM_COMPANY_HOUSE\nSET COMPANY_HOUSE_ACT_IND='D',\nCOMPANY_HOUSE_END_DATE=GETDATE()\nWHERE COMPANY_HOUSE_BK\nIN\n(SELECT COMPANY_NUMBER\nFROM KNE_STG.COMPANY_HOUSE_DELETIONS)"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "PL_INT_COMPANY_HOUSE_ADDITIONS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_STG_COMPANY_HOUSE_ADDITIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INT_COMPANY_HOUSE_ADDITIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_ADD_ADDITIONS_TO_DIM_COMPANY_HOUSE",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_INT_COMPANY_HOUSE_ADDITIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "  Select \nCOMPANY_NUMBER COMPANY_HOUSE_BK,\nCOMPANY_NAME   ,\nADDRESS_LINE_1,\nADDRESS_LINE_2,\nCOUNTRY,\nTOWN,\nPOSTCODE,\nSICCODE_SIC_TEXT_1,\nSICCODE_SIC_TEXT_2,\nSICCODE_SIC_TEXT_3,\nSICCODE_SIC_TEXT_4,\nACCOUNTS_REFDAY,\nACCOUNTS_REFMONTH,\nACCOUNTS_NEXTDUEDATE,\nACCOUNTS_OVERDUE,\n  CONVERT (BIGINT, HASHBYTES('SHA1', CONCAT(COMPANY_NUMBER,COMPANY_NAME,ADDRESS_LINE_1,ADDRESS_LINE_2,COUNTRY,TOWN,POSTCODE,SICCODE_SIC_TEXT_1,SICCODE_SIC_TEXT_2,\n                                            SICCODE_SIC_TEXT_3,SICCODE_SIC_TEXT_4,ACCOUNTS_REFDAY,ACCOUNTS_REFMONTH,ACCOUNTS_NEXTDUEDATE,ACCOUNTS_OVERDUE))) AS HashId,\nGETDATE() COMPANY_HOUSE_START_DATE,\n'Y' COMPANY_HOUSE_ACTIVE_IND\nfrom KNE_INT.COMPANY_HOUSE_ADDITIONS\nWHERE COMPANY_NUMBER\nNOT IN\n(SELECT \nCOMPANY_HOUSE_BK\nFROM KNE_INT.DIM_COMPANY_HOUSE)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "COMPANY_HOUSE_BK",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Company_House_BK",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Company_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS_LINE_1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address_Line_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS_LINE_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address_Line_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TOWN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Town",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "POSTCODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Postcode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNTS_REFDAY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Account_Refday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNTS_REFMONTH",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Account_Refmonth",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNTS_NEXTDUEDATE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Accounts_NextDueDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "SICCODE_SIC_TEXT_1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SICCode_SicText_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SICCODE_SIC_TEXT_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SICCode_SicText_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SICCODE_SIC_TEXT_3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SICCode_SicText_3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SICCODE_SIC_TEXT_4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SICCode_SicText_4",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_HOUSE_START_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Company_House_Start_Date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "COMPANY_HOUSE_ACTIVE_IND",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Company_House_Act_Ind",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "HashId",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "HashID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "COMPANY_HOUSE_ADDITIONS",
									"SchemaName": "KNE_INT"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Azure_Destination",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "DIM_COMPANY_HOUSE",
									"SchemaName": "KNE_INT"
								}
							}
						]
					},
					{
						"name": "PL_PRS_DIM_COMPANY_HOUSE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CD_ADD_ADDITIONS_TO_DIM_COMPANY_HOUSE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PRS_DIM_COMPANY_HOUSE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "4_0_JOB_STREAMS"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JS_INTEGRATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_PRS_DIM_COMPANY",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INT_DIM_COMPANY",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_INT_DIM_REPORTING_DATES",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INT_DIM_REPORTING_DATES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_INT_DIM_REPORTING_STRUCUTRE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INT_DIM_REPORTING_STRUCUTRE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_INT_FACT_PLACEMENTS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_INT_DIM_REPORTING_DATES",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PL_PRS_DIM_COMPANY",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "PL_INT_DIM_REPORTING_STRUCUTRE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INT_FACT_PLACEMENTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_INT_FACT_INTERVENTIONS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_INT_FACT_PLACEMENTS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_INT_FACT_INTERVENTIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "4_0_JOB_STREAMS"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JS_PRESENTATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_PRS_DIM_COMPANY",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PRS_DIM_COMPANY",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_PRS_DIM_REPORTING_STRUCTURE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PRS_DIM_REPORTING_STRUCTURE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_PRS_DIM_REPORTING_DATES",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PRS_DIM_REPORTING_DATES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_PRS_FACT_PLACEMENTS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PRS_FACT_PLACEMENTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_PRS_FACT_INTERVENTIONS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_PRS_FACT_INTERVENTIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "4_0_JOB_STREAMS"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JS_STAGING')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_STG_BUSINESS_OUTPUTS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_BUSINESS_OUTPUTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_BUSINESS_DATA_CARBON",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_BUSINESS_DATA_CARBON",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_INTERVENTIONS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_INTERVENTIONS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_PLACEMENTS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_PLACEMENTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_INTERVENTIONS_FACT",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_INTERVENTIONS_FACT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_BUSINESS_DATA_GENERAL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_BUSINESS_DATA_GENERAL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_STATE_AID",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_STATE_AID",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_STG_OTHER_GRANTS",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_STG_OTHER_GRANTS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "4_0_JOB_STREAMS"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JS_FULL_BUILD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "JS_STAGING",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "JS_STAGING",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "JS_INTEGRATION",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "JS_STAGING",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "JS_INTEGRATION",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "JS_PRESENTATION",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "JS_INTEGRATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "JS_PRESENTATION",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "4_0_JOB_STREAMS"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/JS_STAGING')]",
				"[concat(variables('factoryId'), '/pipelines/JS_INTEGRATION')]",
				"[concat(variables('factoryId'), '/pipelines/JS_PRESENTATION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TR_COMPANY_HOUSE_DATA_DAILY_UPDATE')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "JS_COMPANY_HOUSE_DATA",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2024-10-09T10:26:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								5
							],
							"hours": [
								9
							],
							"weekDays": [
								"Monday",
								"Tuesday",
								"Wednesday",
								"Thursday",
								"Friday",
								"Saturday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/JS_COMPANY_HOUSE_DATA')]"
			]
		}
	]
}